@import "../../css-config/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;400;500;600&display=swap');
.screen1{
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  span.counter {
    width: 120px;
    height: 100px;
    background-image: url(../../assest/castingLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  .counter > p{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transform: rotate(-15deg);
    margin-left: 4px;
    position: relative;
    top: 55px;
    @include md{
    top: 48px;
    margin-left: 5px;
    font-size: 13px;
    }
  }
  .text1{
      width: 170px;
      margin: 0 auto;
      font-size: 26px;
      text-transform: uppercase;
      transform: rotate(-14deg);
      font-family: 'Dancing Script', cursive;
      color: rgb(200, 69, 204);
      margin-top: 30px;
  }
  .text2{
      margin-top: 50px;
      font-size: 28px;
      color: rgb(198, 233, 24);
  }
}